CREATE DATABASE LopHoc
USE LopHoc
CREATE TABLE LOPHOC
(
MALOP VARCHAR(50) NOT NULL,
TENLOP NVARCHAR(50) NOT NULL,
CONSTRAINT PK_LOPHOC PRIMARY KEY(MALOP)
)CREATE TABLE SINHVIEN
(
MASV VARCHAR(50) NOT NULL,
TENSV NVARCHAR(50) NOT NULL,
DIACHI NVARCHAR(100) NOT NULL,
TUOI INT NOT NULL,
MALOP VARCHAR(50) NOT NULL,
CONSTRAINT PK_SINHVIEN PRIMARY KEY(MASV),
CONSTRAINT FK_SINHVIEN_LOPHOC FOREIGN KEY(MALOP) REFERENCES
LOPHOC(MALOP)
)INSERT INTO LOPHOC VALUES('LH001', 'LAP TRINH WEB')
INSERT INTO LOPHOC VALUES('LH002', 'LAP TRINH WEB NANG CAO')
INSERT INTO LOPHOC VALUES('LH003', 'LAP TRINH OOP')INSERT INTO SINHVIEN VALUES('SV001', N'NGUYỄN VĂN A', 'TPHCM', 18,
'LH001')
INSERT INTO SINHVIEN VALUES('SV002', N'NGUYỄN VĂN B', 'TPHCM', 18,
'LH001')
INSERT INTO SINHVIEN VALUES('SV003', N'NGUYỄN VĂN C', 'HANOI', 18,
'LH002')
INSERT INTO SINHVIEN VALUES('SV004', N'NGUYỄN VĂN D', 'HANOI', 18,
'LH002')
